﻿@{
    ViewBag.Title = "Home Page";
}


<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            <th>
        <tr>
    <thead>
</table>